body {
	font-family: 'Ubuntu', sans-serif;
}

.center {
	margin-top: 3%;
	margin-right: 5%;
	margin-left: 5%;
	margin-bottom: 5%;
	background-color: #e7e7e7;
}

.rectangle {
	min-height: 600px;
	height: auto;
	padding: 1%;
	padding-top: 2px;
	background-color: white;
}



.prva {
	margin-left: auto;
	margin-right: auto;
	table-layout: auto;
	border: 1px solid black;
	width: 80%;
}
.tablica {
	table-layout: auto;
	padding: 15px;
}
th, td {
 	padding: 5px;
 	font-family: 'Ubuntu', sans-serif;
}
.somelink {
color: rgba(221,0,0,1);
	font-size: 20px;
}

::placeholder{
font-family: 'Ubuntu', sans-serif;
}
textarea{
	border: 4px solid;
	border-color: rgba(221,0,0,1);
	padding: 5px;
	margin: 5px;
	border-radius: 15px;
	font-family: 'Ubuntu', sans-serif;
	
}

.info{
	width: 100%;
	text-align: center;
	position: relative;
	margin-top: 1%;
	padding-top: 1px;
	padding-bottom: 2%;
	color: black;
	background-size: 1300px 150px;
	background-repeat: no-repeat;
	border-radius: 20px;
	
}
.uname {
	font-size: 30px;
	color: black;
}

.col {
  float: left;
  width: 33%;
  text-align: center;
  margin: 2px;
  margin-top: 10px;
  height: 600px;
  font-size: 18px;
}
.q{
  width: 33%;
}
.r{
  width: 65%;
 
  border-radius: 15px;
}
a {
color: rgba(221,0,0,1);
}

.col img {
	max-height: 500px;
	max-width: 300px;
	border: 4px black solid;
	border-radius: 15px;
	padding: 20px;
		
}

/* Clear floats after the columns */
.colholder:after {
  content: "";
  display: table;
  clear: both;
}