

.center {
	font-family: 'Ubuntu', sans-serif;

	}
.error {
	margin-top: -20px;
	margin-bottom: 15px;
	width: 30%;
	height: 20px;
	margin-left: 47%;
	color: #b90000;
	text-align: center;
	font-weight: bold;
	font-size: 90%;
	font-family: Verdana, sans-serif;
	font-family: 'Ubuntu', sans-serif;
}

.center {
	margin-top: 3%;
	margin-right: 10%;
	margin-left: 10%;
	margin-bottom: 3%;
	top: 10%;
	background-color: #e7e7e7;
}

.rectangle {
	height: 600px;
	padding-left: 0%;
	padding-top: 0;
	background-color: white;
}

.col-1 {
	position: relative;
	width: 70%;
	float: left;
	height: 100%;
	background-color: white;
	z-index: 1010101010
}

.col-2 {
	position: relative;
	width: 30%;
	text-align:center;
	float: left;
	height: 100%;
	background-color: white;
	z-index: 1010101010
}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.heading {
	font-family: Verdana, sans-serif;
	font-family: 'Ubuntu', sans-serif;
	font-stretch: extra-expanded;
	text-align: center;
	margin-left: 22%;
	margin-top: 7%;
	margin-bottom: 7%;
}

form {
	margin: auto;
	margin-left: 3.5%;
	margin-right: 3.5%;
}

.formLabel {
	border-width: 0 0 1px 0; /* top right bottom left */
	border-bottom: solid #D0D0D0;
	width: 40%;
	height: 20px;
	margin-left: 40%;
	margin-bottom: 4%;
	margin-top: 1%;
	padding: 10px;
	text-align: left;
	font-weight: bold;
	vertical-align: middle;
	/*display: inline-block;*/
	outline: none;
}

::placeholder {
	color: #A8A8A8;
}

.formControls {
	border: 1px solid #D0D0D0;
	border-radius: 15px;
	width: 35%;
	height: 10%;
	margin-left: 43%;
	margin-top: 3%;
	margin-bottom: 1%;
	padding: 10px;
	text-align: center;
	font-weight: bold;
	font-size: 100%;
	color: white;
	vertical-align: middle;
	display: inline-block;
	background: rgba(221,0,0,1);
}
.formControls:hover {
	background-color: rgba(221,0,0,0.6);
}
.formControls:active {
	background-color: rgba(0,0,0,0.6);
	transform: translateY(3px);
}
.fcyel{
	background: rgba(255,200,1,1);
	}
.fcyel:hover{
	background: rgba(255,200,1,0.6);
	}
.fcyel:active {
	background-color: rgba(0,0,0,0.6);
	transform: translateY(3px);
}
.cancel {
	background: white;
	color: black;
}
.cancelyel {
	color: black
}

.cancel:hover {
	background-color: rgba(0,0,0,0.3);
}
.cancel:active {
	color: white;
	background-color: rgba(0,0,0,1);
	transform: translateY(3px);
}



.title {
	font-family: 'Ubuntu', sans-serif;
  	left: 25%; 
 	font-size: 1cm;	 
	position: absolute;
	top: 3%;
	text-align:center;
	color: black;
	margin-left: 5%;
	margin-right: 3%;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	
}

.title2 {
	font-family: 'Ubuntu', sans-serif;
 	font-size: 1cm;	 
	position: absolute;
	top: 3%;
	color: black;
	margin-left: 12%;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	
}

.description {
	position: absolute;
	top: 15%;
	color: rgb(0, 0, 0);
	margin-left: 3%;
	margin-right: 3%;
	text-align: center;
	font-size: 15pt;
}

.reg-button {
	position: relative;
	bottom: 22%;
	margin-left: 35%;
	margin-right: 35%;
	right: 10%;
	width: 160px;
	height: 50px;
	background-color: rgba(40,40,40,1);
	color:white;
	border: 5px solid #FFFFFF;
}
.reg-button:hover {
	background-color: rgba(160,160,160,1);
}
.reg-button:active {
	background-color: rgba(221,0,0,1);
  	transform: translateY(3px);
}
.yel:active {
	background-color: rgba(255,200,1,1);
  	transform: translateY(3px);
}

* {
	font-family: 'Ubuntu', sans-serif;
}

body {
	font-family: 'Ubuntu', sans-serif;
}