.error {
	margin-top: -20px;
	margin-bottom: 15px;
	width: 30%;
	height: 20px;
	margin-left: 47%;
	color: #b90000;
	text-align: center;
	font-weight: bold;
	font-size: 90%;
	font-family: Verdana, sans-serif;
}

.center {
	margin-top: 5%;
	margin-right: 10%;
	margin-left: 10%;
	margin-bottom: 3%;
	top: 10%;
	background-color: #e7e7e7;
}

.rectangle {
	height: 600px;
	padding-left: 0%;
	padding-top: 0;
	background-color: white;
}

.col-1 {
	position: relative;
	width: 70%;
	float: left;
	height: 100%;
	background-color: white;
	z-index: 1010101010
}

.col-2 {
	position: relative;
	width: 30%;
	float: left;
	height: 100%;
	background-color: white;
	z-index: 1010101010
}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.heading {
	font-family: Verdana, sans-serif;
	font-stretch: extra-expanded;
	text-align: center;
	margin-left: 22%;
	margin-top: 7%;
	margin-bottom: 7%;
}

form {
	margin: auto;
	margin-left: 3.5%;
	margin-right: 3.5%;
}

.formLabel {
	border-width: 0 0 1px 0; /* top right bottom left */
	border-bottom: solid #D0D0D0;
	width: 40%;
	height: 20px;
	margin-left: 40%;
	margin-bottom: 4%;
	margin-top: 1%;
	padding: 10px;
	text-align: left;
	font-weight: bold;
	vertical-align: middle;
	/*display: inline-block;*/
	outline: none;
}

::placeholder {
	color: #A8A8A8;
}

.formControls {
	border: 1px solid #D0D0D0;
	border-radius: 15px;
	width: 35%;
	height: 10%;
	margin-left: 43%;
	margin-top: 3%;
	margin-bottom: 1%;
	padding: 10px;
	text-align: center;
	font-weight: bold;
	font-size: 100%;
	color: white;
	vertical-align: middle;
	display: inline-block;
	background: #44AA44;
}

.cancel {
	background: white;
	color: #b90000;
}

.formControls:hover {
	background-color: #3e8e41;
}

.cancel:hover {
	background-color: #e7e7e7;
}

.title {
  	left: 25%; 
 	font-size: 1cm;	 
	position: absolute;
	top: 3%;
	color: white;
	margin-left: 3%;
	margin-right: 3%;
	text-align: center;
	font-size: 1cm;
	font-weight: bold;
	
}

.title2 {
 	font-size: 1cm;	 
	position: absolute;
	top: 3%;
	color: white;
	margin-left: 6%;
	text-align: center;
	font-size: 1cm;
	font-weight: bold;
	
}

.description {
	position: absolute;
	top: 25%;
	color: white;
	margin-left: 3%;
	margin-right: 3%;
	text-align: center;
	font-size: 15pt;
}

.reg-button {
	position: absolute;
	bottom: 22%;
	margin-left: 35%;
	width: 150px;
	height: 40px;
	padding: 10px;
	background-color: transparent;
}
.reg-button:hover {
	border-width: 2px;
	background-color: transparent;
}