body {
	font-family: 'Ubuntu', sans-serif;
}

.center.red{
	margin-top: 5%;
	margin-right: 18%;
	margin-left: 18%;
	margin-bottom: 5%;
	background-color: #e7e7e7;
	background-color: rgba(221,0,0,0.35); 
	background-color: #e7e7e7;	 
}

a:link{
	text-decoration: none;
}

.center.yellow{
	margin-top: 5%;
	margin-right: 18%;
	margin-left: 18%;
	margin-bottom: 5%;
	background-color: #e7e7e7;
	background-color: rgba(255,200,1,0.22); 
	background-color: #e7e7e7;
}


hr.one {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

hr.two{
  border: 4px solid rgba(221,0,0,1);
  border-radius: 5px;
  width: 80%;
  }
  
 hr.three{
  border: 4px solid rgba(255,200,1,1);
  border-radius: 5px;
  width: 80%;
  }
  

.rectangle {
	min-height: 600px;
	height: auto;
	padding: 1%;
	padding-top: 2px;
	background-color: white;	
}

.rectanglemini{
	min-height: 200px;
	height: auto;
	padding: 1%;
	padding-top: 2px;
	background-color: white;
}


.prva {
	margin-left: auto;
	margin-right: auto;
	table-layout: auto;
	border: 1px solid black;
	width: 80%;
	border: 4px solid;
	border-color:rgba(255,200,1,1);
	border-radius: 15px;
	font-family: 'Ubuntu', sans-serif;
	text-align:center;
}


.errorPage{
	text-align:center;
	}
.tablica {
	table-layout: auto;
	padding: 15px;
}
th, td {
 	padding: 5px;
 	font-family: 'Ubuntu', sans-serif;
}
.somelink {
color: rgba(221,0,0,1);
	font-size: 20px;
}

::placeholder{
font-family: 'Ubuntu', sans-serif;
}
textarea.red{
	border: 4px solid;
	border-color: rgba(221,0,0,1);
	padding: 5px;
	margin: 5px;
	border-radius: 15px;
	font-family: 'Ubuntu', sans-serif;
	width: 80%;
}
textarea.yellow{
	border: 4px solid;
	border-color: rgba(255,200,1,1);
	padding: 5px;
	margin: 5px;
	border-radius: 15px;
	font-family: 'Ubuntu', sans-serif;
	width: 80%;
}

textarea.small{
	width: 50%;
	}
	
input[type="file"] {
    display: none;
}
#file-name{
	margin-left: 20px;
	}

.info{
	width: 100%;
	text-align: center;
	position: relative;
	margin-top: 1%;
	padding-top: 1px;
	padding-bottom: 2%;
	color: black;
	background-size: 1300px 150px;
	background-repeat: no-repeat;
	border-radius: 20px;
	
}
.uname {
	font-size: 20px;
	font-weight: bold;
	color: black;
}

h1 {
	font-size: 36px;	
}
.btnRemove{
	border: 1px solid #D0D0D0;
	border-radius: 15px;
	width: 15%;
	height: 7%;
	padding: 10px;
	text-align: center;
	font-weight: bold;
	font-size: 100%;
	color: white;
	vertical-align: middle;
	display: inline-block;
	background: rgba(255,200,1,1);
	}
.btnRemove:hover{
	background: rgba(255,200,1,0.6);
	}
.btnRemove:active {
	background-color: rgba(0,0,0,0.6);
	transform: translateY(3px);
}

.formControls {
	border: 1px solid #D0D0D0;
	border-radius: 15px;
	width: 15%;
	height: 7%;
	padding: 10px;
	text-align: center;
	font-weight: bold;
	font-size: 100%;
	color: white;
	vertical-align: middle;
	display: inline-block;
	background: rgba(221,0,0,1);
	min-width: 100px;
}
.reg-button {
	position: relative;
	bottom: 22%;
	margin-left: 35%;
	margin-right: 35%;
	right: 10%;
	width: 160px;
	height: 50px;
	background-color: rgba(40,40,40,1);
	color:white;
	border: 5px solid #FFFFFF;
}
.reg-button:hover {
	background-color: rgba(160,160,160,1);
}
.reg-button:active {
	background-color: rgba(221,0,0,1);
  	transform: translateY(3px);
}
.yel:active {
	background-color: rgba(255,200,1,1);
  	transform: translateY(3px);
}
.fcyel{
	background: rgba(255,200,1,1);
	}
.fcyel:hover{
	background: rgba(255,200,1,0.6);
	}
.fcyel:active {
	background-color: rgba(0,0,0,0.6);
	transform: translateY(3px);
}

.imga{
	padding-top: 25px;
	max-width: 600px;
	max-height: 400px;
	
}

.big{
	width: 25%;
	}

.cube{
	margin: 2%;
	height: auto;
	text-align: center
}
.cube.left{
	float: left;
	text-align: left;
	padding-left: 10%;
	
	margin-right: 40%;
}

.cen{
	float: center;
	text-align: center;
}


a {
color: rgba(221,0,0,1);
}

.colholder:after {
  content: "";
  display: table;
  clear: both;
}

.con{
	padding-right: 1%;
	padding-left: 1%;
	text-align: center;
	}

.wrapper {
  margin: 0 auto;
  padding: 40px;
  min-width: 300px;
  max-width: 800px;
}

.table {
  margin: 0 0 40px 0;
  width: 70%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  display: table;
  margin:auto;
}
@media screen and (max-width: 580px) {
  .table {
    display: block;
  }
}

.row {
  display: table-row;
  background: #f6f6f6;
}
.row:nth-of-type(odd) {
  background: #e9e9e9;
}
.row.header.red {
  font-weight: 900;
  color: #ffffff;
  background: rgba(221,0,0,1);
}
.row.header.yellow{
  font-weight: 900;
  color: #ffffff;
  background: rgba(255,200,1,1);
}

@media screen and (max-width: 580px) {
  .row {
    padding: 8px 0;
    display: block;
  }
}

.cell {
  padding: 6px 12px;
  display: table-cell;
}
@media screen and (max-width: 580px) {
  .cell {
    padding: 2px 12px;
    display: block;
  }
}