<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	<title>Creation</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="css/style.css" rel="stylesheet" type="text/css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet"> 
	<script defer src="https://cdn.jsdelivr.net/npm/katex@0.10.0/dist/katex.min.js" integrity="sha384-K3vbOmF2BtaVai+Qk37uypf7VrgBubhQreNQe9aGsz9lB63dIFiQVlJbr92dw2Lx" crossorigin="anonymous"></script>
	<script defer src="https://cdn.jsdelivr.net/npm/katex@0.10.0/dist/contrib/auto-render.min.js" integrity="sha384-kmZOZB5ObwgQnS/DuDg6TScgOiWWBiVt0plIRkZCmE6rDZGrEOQeHM5PcHi+nyqe" crossorigin="anonymous"
   		onload="renderMathInElement(document.body);"></script>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">  

		//when the webpage has loaded do this - javascript function for button
	      $(document).ready(function() {
	          var element = document.getElementById("testCases");
		      var i = 0;
		      i = element.children.length;   
	    	  $("#btnAdd").click(function() {
	    		  i = i + 1;
	    	    $("#testCases").append('<div class=con id="' +i+ '">' + 
	    	    		
	    	    		'Q' + i + ':  <textarea name="input-' + i + '" ' + 
	                    'placeholder="Put your question here...'+'" rows="3" cols="80"></textarea>' +
	                     '<input type="button" class="btnRemove" value="Remove"/></div>');
	    	  });
	    	  $('body').on('click','.btnRemove',function() {
	    		
	    	    $(this).parent('div.con').remove()
	    	  });
	    	  
	    	  
	    	  $("#text").bind('keyup', function() {
	    		    $("#preview").text($(this).val());
	    		    renderMathInElement(preview,
	    		    		 {
		    	              delimiters: [
		    	                  {left: "$$", right: "$$", display: true},
		    	                  {left: "\\[", right: "\\]", display: true},
		    	                  {left: "$", right: "$", display: false},
		    	                  {left: "\\(", right: "\\)", display: false}
		    	              ]
	    	          		}
	    		    );
	    		});
	    	  
	    	});
	        
	    </script>

</head>

<body class="center yellow">
	<div class="rectangle">

				<div class="info">
			<p class="uname" th:text="'Logged in as ' + ${session.currentUserName}"></p>
			<div th:if="${session.isAdministrator}">
				<p>Admin features</p>
				<span>
				<a class="formControls fcyel" href="home">Home</a>
				<a class="formControls fcyel" href="/deletion">Deletion</a>
				<a class="formControls fcyel" href="/inspection">Inspection</a>
				<br>
				</span>
				<br>
			</div>
			<a class="formControls fcyel" href="/logout">Logout</a>
			
		</div>
		<hr class="three">
		<div class="colholder">		

			<div class="cube">
		
		<form action="creation" method="post" enctype="multipart/form-data">
			<p><b>Upload photo of product of the day: </b></p>
			<label class="formControls fcyel">
				<input type="file" name="photo" accept="image/*" required>
				Upload file
			</label>
			
		
			<br><br><p><b>Insert name of the product: </b><br></p>
			<div th:if="${questForm.containsError('name')}">
			   	<p style="color:red;" class="error" th:each="err : ${questForm.getError('date')}" th:text="${err}"></p>
			</div>
			<textarea name="name" class="yellow small" placeholder="Name the product..." rows="3" cols="80" required></textarea>
		
			<br><br><p><b>Please select date for the questionnaire: </b><br></p>
			<div th:if="${questForm.containsError('date')}">
			   	<p style="color:red;" class="error" th:each="err : ${questForm.getError('date')}" th:text="${err}"></p>
			</div>
			
			  <input type="radio" id="today" name="date" value="0" checked="checked" >
			  <label for="today">Today</label><br>
			  <input type="radio" id="tomorrow" name="date" value="1">
			  <label for="age2">Tomorrow</label><br><br>
	
	        <b>Add your marketing questions about the product of the day</b><br>
				<div th:if="${questForm.containsError('questions')}">
			   		<p style="color:red;" class="error" th:each="err : ${questForm.getError('questions')}" th:text="${err}"></p>
			  	 </div><br>
				
				<div id="testCases">
					<div th:if="${questForm.getQuestions().isEmpty()}">
						Q1: <textarea class="yellow" name="input-1" placeholder="Put your question here..." rows="3" cols="80"></textarea>
					</div>
					
					<div class="con" th:if="${!questForm.getQuestions().isEmpty()}" th:each="question : ${questions}">
						Q[[${questions.indexOf(question)+1}]]:  
						<textarea th:name="'input-' + ${questions.indexOf(question)+1}" placeholder="Question" rows="3" cols="80" th:text="${question}"></textarea>
				       	<input th:if="${questions.indexOf(question)+1 > 1}" type="button" class="formControls fcyel" value="Remove"/><br>
					</div>
				</div>
			<br>
			<input id="btnAdd" class="formControls fcyel" type="button" value="Add" /><br><br>
			  <button type="submit" class="formControls fcyel" name="method" value="Save">Save</button>
			  <button type="submit" class="formControls fcyel" name="method" value="Cancel">Cancel</button>
		</form>
	</div>
	
	<div th:unless="${session.isAdministrator}">
		You are not administrator!
	</div>
	</div>
	</div>
</body>
</html>