<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Deletion</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet"> 
	<link href="css/style.css" rel="stylesheet" type="text/css">
	<style>
		th, td {
    		padding: 5px;
		}
	</style>
</head>

<body class="center yellow">

	<div class="rectangle">
		<div class="info">
			<div th:if="${session.isAdministrator}">
			<p class="uname" th:text="'Logged in as ' + ${session.currentUserName}"></p>
			<a class="formControls fcyel" href="/home">Home</a>
			</div>
		</div>
		<div class="colholder">		

		<div class="cube">
		<hr class="three">
		<div th:if="${yesterdaysQuestionnaire}">
			<h2 th:text="'Are you sure you want to delete yesterday\'s questionnaire about: ' + ${yesterdaysQuestionnaire.getProductName()} + '?'"></h2>
			<form action="deletion" method="post">
					<button type="submit" class="formControls fcyel big" name="method" value="Delete">Delete questionnaire</button>
				</form>
		</div>
		<div th:unless="${yesterdaysQuestionnaire}">
			<h2>There is no yesterday's questionnaire available!</h2>
		</div>
	</div>
	<div th:unless="${session.isAdministrator}">
		<h2>You are not administrator!</h2>
		<br>
		<a href="/home">Home</a>	
	</div>
	
</div>
</div>
</div>
</body>
</html>