<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Error</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    	<link href="/css/home.css" rel="stylesheet" type="text/css">
</head>
<body class="dramatic">
	
	<div class="errorPage">
    	<h1 th:text="${error} + '!'" />
    	<h1>Vojko doesn't allow that, sorry.</h1>
    	<div class="vojko"><img src="https://media1.tenor.com/images/248b0e840edcd5615782c21d691afe5f/tenor.gif?itemid=11751815" width="860" height="550"></div>
    </div>
</body>
</html>
