<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Error</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    	<link href="css/style.css" rel="stylesheet" type="text/css">
    	<link href="../css/style.css" rel="stylesheet" type="text/css">
    	<link rel="shortcut icon" type="image/jpg" href="../images/favico.png"/>
</head>
<body class="dramatic">
	
	<div class="errorPage">
    	<h1 th:text="${error}" /></h1>
    	<a class="formControls " href="/home">Go home!!</a>
    	<br><br>
    	<h3>Vojko doesn't allow that, sorry...</h3>
    	<div><img src="https://media1.tenor.com/images/248b0e840edcd5615782c21d691afe5f/tenor.gif?itemid=11751815" width="900" height="600"></div>
    </div>
</body>
</html>
