<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Home</title>
	<link href="css/style.css" rel="stylesheet" type="text/css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet"> 
	<link rel="shortcut icon" type="image/jpg" href="../images/favico.png"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>

<body class="center yellow">
	<div class="rectangle">
		
		<div class="colholder">		
			<div class="cube">
			<h1 th:text="'Welcome ' + ${session.currentUserName} + '!'"></h1>
			<a class="formControls fcyel" href="/logout">Logout</a>
			<br>
			<br>
			<hr class="three">
				<div th:if="${questToday != null}">
				<h3>Today's product is: </h3>
				<b><span th:text="${questToday.getProductName()}"></span></b>
				<br>
				<br>
				<img class="imga" th:src="'uploads/' + ${questToday.getPhoto()}"/>
				<!--  <img src="../images/test.png"/>		 -->
				</div>
			</div>

			<div class="cube">
				<br><br>
					<div th:if="${questToday == null}">
					There is no questionnaire for today! <br>
					But come back tomorrow!
				</div>
				<div th:unless="${questToday == null}">
							<hr class="three">

				<h1>Read reviews</h1>
	
		<div class="wrapper">
		<div class="table">
		<div class="row header yellow">
			<div class="cell">No</div>
			<div class="cell">Question</div>
			<div class="cell">Answers</div>
		</div>
		<div class="row" th:each="entry, stat : ${questions}">
			<div class="cell" th:text="${stat.index + 1}">1</div>
			<div class="cell" th:text="${questions.get(entry.key)}">Question</div>
			<div class="cell">
						<div th:each="review : ${reviews.get(entry.key)}">
							<div>
								<span th:text="${review}"></span>
							</div>
							<div>
								<hr class="one">
							</div>
						</div>
			</div>
		</div>
		</div>
		</div>
				<p>Check the today's leaderboard!</p>
				<a class="formControls fcyel" href="/leaderboard">Leaderboard</a>
				<div th:if="${submittedAnswer == null}">
					<p>Fill out the questionnaire for the product of the day!</p>
					<a class="formControls fcyel" href="/questionnaire">Questionnaire</a>
				</div>
				<div th:if="${submittedAnswer != null}">
					<p>You already filled out questionnaire for today!<br>Come back tomorrow!
				</div>
				</div>
			</div>
		</div>

		<div class="info">
			<div th:if="${session.isAdministrator}">
				<p><b>Admin features</b></p>
				<span>
				<a class="formControls fcyel" href="/creation">Creation</a>
				<a class="formControls fcyel" href="/deletion">Deletion</a>
				<a class="formControls fcyel" href="/inspection">Inspection</a>
				<br>
				</span>
				<br>
			</div>
			
		</div>
</div>
</body>
</html>