<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Inspection</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet"> 
<link href="css/style.css" rel="stylesheet" type="text/css">
<link href="../css/style.css" rel="stylesheet" type="text/css">
<link rel="shortcut icon" type="image/jpg" href="../images/favico.png"/>
</head>
<body class="center yellow">

	<div class="rectangle">
		<div class="info">
			<p class="uname" th:text="'Logged in as ' + ${session.currentUserName}"></p>
			<div th:if="${session.isAdministrator}">
				<p>Admin features</p>
				<span>
				<a class="formControls fcyel" href="/creation">Creation</a>
				<a class="formControls fcyel" href="/deletion">Deletion</a>
				<a class="formControls fcyel" href="/home">Home</a>
				<br>
				</span>
				<br>
			</div>
			<a class="formControls fcyel" href="/logout">Logout</a>
			
		</div>
	
	<hr class="three">
	<div class="colholder">
	<div class="cube">

		<h1>Questionnaire inspection page</h1>
		<div th:if="${questionnaireChoice != null}">
			Product name: 
			<b><span th:text="${questionnaireChoice.getProductName()}"></span></b>
			<br>
			<br>
			<hr class="three">
			
			<div th:if="${!participantsSubmitted.isEmpty()}">
			Participants that submitted the questionnaire:
				<div class="wrapper">
				<div class="table">
				<div class="row header yellow">
					<div class="cell">User</div>
					</div>
				<div class="row" th:each="user : ${participantsSubmitted}">
					<div class="cell" th:text="${user.getUsername()}">name</div>
				</div>
				</div>
				</div>
			</div>
			
			<div th:if="${!participantsCancelled.isEmpty()}">
			Participants that cancelled the questionnaire: 
				<div class="wrapper">
				<div class="table">
				<div class="row header yellow">
					<div class="cell">User</div>
					</div>
				<div class="row" th:each="user : ${participantsCancelled}">
					<div class="cell" th:text="${user.getUsername()}">name</div>
				</div>
			</div>
			</div>
			</div>
			
			
			<br>
			
		<!-- 		<div class="wrapper">
				<div class="table">
				<div class="row header yellow">
					<div class="cell">Questions</div>
					</div>
				<div class="row" th:each="question : ${questionnaireChoice.getQuestions()}">
					<div class="cell" th:text="${question.getQuestion()}">name</div>
				</div>
				</div>
				</div>
			
			<br>
			-->
		<div class="wrapper">
		<div class="table">
		<div class="row header yellow">
			<div class="cell">Question</div>
			<div class="cell">Answers</div>
		</div>
		<div class="row" th:each="entry, stat : ${qAndAs}">
			<div class="cell" th:text="${entry.key.getQuestion()}">user</div>
			<div class="cell">
						<div th:each="answer : ${entry.value}">
							<div>
								<span th:text="${answer}"></span>
							</div>
							<div>
								<hr class="one">
							</div>
						</div>
			</div>
		</div>
		</div>
		</div>
			
		</div>
		
		
		<br>
		<div th:if="${questionnaireChoice == null}">
			<form action="/inspection/submit" method="post" enctype="multipart/form-data">
				 <div th:each="questionnaire : ${questionnaireList}">
			    	<input type="radio" id="today" name="questionnaireDate" th:value="${questionnaire.getDate()}" >
				 	<label th:text="${questionnaire.getDate()}"></label><br>
					<br>
					</div>
				 <br><br>
				
				<button type="submit" class="formControls fcyel" name="method" value="Choose">Choose</button>
			</form>
			
		</div>
		<br><br>
	</div>
	<div th:unless="${session.isAdministrator}">
		You are not administrator!
		<br>
		<a class="formControls fcyel" href="/logout">Logout</a>	
	</div>
</div>
</div>
</body>
</html>