<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Inspection</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet"> 
<link href="css/style.css" rel="stylesheet" type="text/css">
</head>
<style>
		.tablica {
			table-layout: auto;
			padding: 15px solid black;
			border: 1px solid black;
			border-spacing: 5px;
  			text-align: left;
		}
		.subtablica {
			table-layout: auto;
  			padding: 15px solid black;
  			border: 15px;
  			border-spacing: 15px;
  			text-align: left;
		}
		th, td {
    		padding: 15px solid black;
		}
	</style>
<body class="center yellow">

	<div class="rectangle">
		<div class="info">
			<div th:if="${session.isAdministrator}">
			<p class="uname" th:text="'Logged in as ' + ${session.currentUserName}"></p>
			<a class="formControls fcyel" href="/logout">Logout</a>
			</div>
		</div>
	
	<div class="colholder">
	<div class="cube">

		
		<h1>Questionnaire inspection page</h1>
	
		<div th:if="${questionnaireChoice != null}">
			Today's product is: 
			<b><span th:text="${questionnaireChoice.getProductName()}"></span></b>
			<br>
			<br>
			Participants that submitted the questionnaire:
			<table class="tablica">
				<tr class="border_bottom">
					<th>User</th>
				</tr>
				<tr th:each="user : ${participantsSubmitted}">
					<td th:text="${user.getUsername()}">name</td>
				</tr>
				<br>
				<br>
			</table>
			<br>
			Participants that cancelled the questionnaire: 
			<br>
			<table class="tablica">
				<tr class="border_bottom">
					<th>User</th>
				</tr>
				<tr th:each="user : ${participantsCancelled}">
					<td th:text="${user.getUsername()}">name</td>
				</tr>
			</table>
			<br>
			<table class="tablica">
				<tr class="border_bottom">
					<th>Questions</th>
				</tr>
				<tr th:each="question : ${questionnaireChoice.getQuestions()}">
					<td th:text="${question.getQuestion()}">name</td>
				</tr>
			</table>
			
			<br>
					
			<table class="tablica">
				<tr class="border_bottom">
					<th>Question</th>
					<th>Answers</th>
				</tr>
				<tr th:each="entry, stat : ${qAndAs}">
					<td th:text="${entry.key.getQuestion()}">user</td>
					<td style="min-width:300px">
						<table class="subtablica">
							<tr th:each="answer : ${entry.value}">
								<td th:text="${answer}"></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
					
			
		</div>
		<br>
		<div th:if="${questionnaireChoice == null}">
			<form action="/inspection/submit" method="post" enctype="multipart/form-data">
				 <div th:each="questionnaire : ${questionnaireList}">
			    	<input type="radio" id="today" name="questionnaireDate" th:value="${questionnaire.getDate()}" >
				 	<label th:text="${questionnaire.getDate()}"></label><br>
					<br>
					</div>
				 <br><br>
				
				<button type="submit" class="formControls fcyel" name="method" value="Choose">Choose</button>
			</form>
			
		</div>
		<br><br>
		<a class="formControls fcyel" href="/home">Home</a>	
	</div>
	<div th:unless="${session.isAdministrator}">
		You are not administrator!
		<br>
		<a class="formControls fcyel" href="/logout">Logout</a>	
	</div>
</div>
</div>
</div>
</body>
</html>