<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Leaderboard</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="css/style.css" rel="stylesheet" type="text/css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet"> 
</head>

<body class="center red">
<div class="rectangle">

		<div class="info">
			<p class="uname" th:text="'Logged in as ' + ${session.currentUserName}"></p>
			<a class="formControls" href="/home">Home</a>
		</div>
	<hr class="two">
	<div class="colholder">	
	<div class="cube">
	<h1>Today's leaderboard</h1>
	<div th:if="${questToday != null}">
		Today's product is: <b><span th:text="${questToday.getProductName()}"></span></b>
		<br>
	</div>
	
	<div th:if="${questToday == null}">
		There is no questionnaire for today! <br>
		But come back tomorrow!
	</div>
	
	<div class="wrapper">
	<div class="table">
		<div class="row header red">
			<div class="cell">No</div>
			<div class="cell">Username</div>
			<div class="cell">Points</div>
		</div>
		<div class="row" th:each="entry, stat : ${points}">
			<div class="cell" th:text="${stat.index + 1}">1</div>
			<div class="cell" th:text="${users[stat.index].getUsername()}">Username</div>
			<div class="cell" th:text="${points.get(stat.index+1)}">Points</div>
		</div>
	</div>
	</div>
	</div>
	</div>
</div>
</body>
</html>