<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<title>Log in</title>
		<link href="css/register.css" rel="stylesheet" type="text/css">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet"> 
		<link rel="shortcut icon" type="image/jpg" href="../images/favico.png"/>
	</head>

	<body class="center">
	  <div class="rectangle">
	  <div class="col-1">
	  	<h1 class ="heading">
			Login form
		</h1>
	  
		<form action="login" method="post">
		  <input class="formLabel" type="text" name="username" placeholder="Username" th:value="${logform.getUsername()}" size="20" autofocus >
		  	<div th:unless="${!logform.containsError('username')}">
		   		<p class="error" th:each="err : ${logform.getError('username')}" th:text="${err}"></p>
		  	</div>
		
		  <input class="formLabel" type="password" name="password" placeholder="Password" value="" size="20">
		  <div th:unless="${!logform.containsError('password')}">
		   		<p class="error" th:each="err : ${logform.getError('password')}" th:text="${err}"></p>
		  </div>
		
		
		  <button class="formControls fcyel" type="submit" name="method" value="Save">Login</button>
		  <button class="formControls cancel cancelyel" type="submit" name="method" value="Cancel">Cancel</button>
		
		</form>
		</div>
		<div class="col-2">
			<p class="title">New here?</p>
			<p class= "description"> Register to our page so you can access different questionnaires and collect points!</p>
<!-- 			<p class="slika" th:text="${session.currentUserName}"></p> -->
		<img src="../images/LoginYellow.png" width="360" height="600">
		
		<button id="myButton" class="formControls reg-button yel">Register</button>
		<script type="text/javascript">
		    document.getElementById("myButton").onclick = function () {
		        location.href = "/registration";
		    };
		</script>
		
		</div>
	  </div>
	</body>
</html>

