<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Questionnaire</title>
	<link href="css/questionnaire.css" rel="stylesheet" type="text/css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet"> 
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>

<body class="center">
	<div class="rectangle">

		<div class="info">
			<p class="uname" th:text="'Logged in as ' + ${session.currentUserName}"></p>
			<a class="formControls" href="/logout">Logout</a>
		</div>
		<hr class="two">
		<div class="colholder">		

			<div class="cube">	<h1>Welcome!</h1>
				<div th:if="${questToday != null}">
				Today's product is: <br><br>
				<b><span th:text="${questToday.getProductName()}"></span></b>
				<br>
				<br>
				<img th:src="'uploads/' + ${questToday.getPhoto()}"/>
				<!--  <img src="../images/test.png"/>		 -->
				</div>
			</div>
			<hr class="two">
			<div class="cube">
				<h1>Questionnaire</h1>
		<form action="/questionnaire" method="post" enctype="multipart/form-data">
			<div th:each="question : ${questToday.getQuestions()}">
				<li th:text="${question}"></li>
				<br>
				<div>
			 	<textarea th:name="'answer-' + ${question.getId()}" placeholder="Your answer here..." rows="3" cols="80" th:text="${ansform.getAnswer(question.getId())}" required>
			   	</textarea>
				</div>
				<br>
			</div>
			<button type="submit" class ="formControls" name="method" value="Save">Next section</button>
			<button type="reset" class ="formControls"  name="method" value="Reset">Delete all</button>
		</form>
			</div>
		</div>

</div>
</body>
</html>