<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Creation</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="css/home.css" rel="stylesheet" type="text/css">
</head>

<body>

	<p th:text="'Logged in as ' + ${session.currentUserName}"></p>
	<a href="/logout">Logout</a>
	
	<h1>Fill out this questionnaire!</h1>
	<div th:if="${questToday != null}">
		Today's product is: <br><br>
		<b><span th:text="${questToday.getProductName()}"></span></b>
		<br>
		<img th:src="'../uploads/' + ${questToday.getPhoto()}"/>
		
		<form action="/questionnaire" method="post" enctype="multipart/form-data">
			<div th:each="question : ${questToday.getQuestions()}">
				<li th:text="${question}"></li>
				<br>
				<div>
			 	<textarea th:name="'answer-' + ${question.getId()}" placeholder="Your answer here..." rows="3" cols="80" th:text="${ansform.getAnswer(question.getId())}" required>
			   	</textarea>
				</div>
				<br>
			</div>
			
			<button type="submit" name="method" value="Save">Next section</button>
			<button type="reset" name="method" value="Reset">Delete my answers</button>
		</form>
		
	</div>
	<br><br><br>
	
	<div th:if="${questToday == null}">
		There is no questionnaire for today! <br>
		But come back tomorrow!
	</div>
</body>
</html>