<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Stats</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="css/style.css" rel="stylesheet" type="text/css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet"> 
</head>

<body class="center red">
	<div class="rectangle">
		<div class="info">
			<p class="uname" th:text="'Logged in as ' + ${session.currentUserName}"></p>
			<a class="formControls" href="/logout">Logout</a>
		</div>
	<hr class="two">
	<div class="colholder">	
		<div class="cube">
		<h1>Fill out this questionnaire</h1>
		<div th:if="${questToday != null}">
		Today's product is: <br><br>
		<b><span th:text="${questToday.getProductName()}"></span></b>
		<br>
		<img th:src="'../uploads/' + ${questToday.getPhoto()}"/>
		</div>
	<hr class="two">
		
		<div class="cube">
		<h2>This part is optional<br></h2>
		
		<form action="/questionnaire/submit" method="post" enctype="multipart/form-data">
			 <b>Age:</b> <br>
			 <input type="radio" id="today" name="age" value="UNDERAGED" >
			 <label for="age1">0-17</label><br>
			 <input type="radio" id="tomorrow" name="age" value="YOUNG ADULT">
			 <label for="age2">18-30</label><br>
			 <input type="radio" id="tomorrow" name="age" value="ADULT">
			 <label for="age2">31-50</label><br>
			 <input type="radio" id="tomorrow" name="age" value="SENIOR CITIZEN">
			 <label for="age2">51-70</label><br>
			 <input type="radio" id="tomorrow" name="age" value="AN ELDERLY">
			 <label for="age2">>71</label><br><br>
			
			<b>Sex:</b> <br>
			 <input type="radio" id="today" name="sex" value="M" >
			 <label for="sex1">Male</label><br>
			 <input type="radio" id="tomorrow" name="sex" value="F">
			 <label for="sex2">Female</label><br>
			 <input type="radio" id="tomorrow" name="sex" value="O">
			 <label for="sex3">Other</label><br>
			 
			 <br>
			<b>Expertise Level:</b> <br>
			 <input type="radio" id="today" name="exper" value="LOW" >
			 <label for="exper1">Low</label><br>
			 <input type="radio" id="tomorrow" name="exper" value="MEDIUM">
			 <label for="exper2">Medium</label><br>
			 <input type="radio" id="tomorrow" name="exper" value="HIGH">
			 <label for="exper3">High</label><br>
			
			<br><br>
		
			<button type="submit" class ="formControls" name="method" value="Save">Save answers</button>
			<button type="submit" class ="formControls" name="method" value="Cancel">Cancel</button>
		</form>
		</div>
		
		<form action="" method="post">
    		<button type="submit" class ="formControls" name="method" value="Previous">Previous page</button>
		</form>
		</div>
		</div>
	</div>
	
	<br><br><br>

</body>
</html>